<h1>Places I've Visited</h1>
<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place) %> (<%= place.entries.count %> entries)</li>
  <% end %>
</ul>
<br>
<%= link_to 'Add a new place', new_place_path %>