<h1>Places I've been</h1>

<a href="/madrid">Madrid</a>
<a href="/newyork">New York</a>
<a href="/Chicago">Chicago</a>

<% places = ["Madrid", "Barcelona", "New York", "Chicago"] %>

<ul>
  <% for places in places %>
    <li><%= places %></li>
    <li>
      <a href="/activities/<%= places["id"] %>"><%= places["name"] %></a>
    </li>
  <% end %>

<p>Find me in app/views/places/show.html.erb</p>
